{% extends 'produtos/base.html' %}
{% load static from staticfiles %}
{% block content %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <hr class="featurette-divider">

      <div class="row">
          {% for estoque in estoques %}
        <div class="col-lg-4">
          <img class="img-thumbnail" src="{% static estoque.produto.path_imagem %}" width="400" height="400">
          <h3>{{ estoque.produto.descricao }} - {{ estoque.produto.codigo }}</h3>
          {% if estoque.preco_sem_desconto %}
            <h4>De: <strike style="color: red">R${{ estoque.preco_sem_desconto }}</strike> Por: R${{ estoque.preco }}</h4>
          {% else %}
            <h4>R${{ estoque.preco }}</h4>
          {% endif %}
          <p><a class="btn btn-default" href="{% url 'produtos:comprar' estoque.id %}" role="button">Comprar</a></p>
        </div><!-- /.col-lg-4 -->
          {% endfor %}
      </div><!-- /.row -->

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


{% endblock content %}